doctype html
html
	head
		title ğ”¼ğ•Šğ•„ğ•šğ•Ÿ
		link(rel='stylesheet prefetch' href='https://molarmanful.github.io/TerseUI/bootstrap.min.css')
		link(rel='stylesheet prefetch' href='dvsm.css')
		style.
			.container {
				width:50%
			}
			pre {
				font-family:dvsm;
			}
	body
		.container-fluid.text-center
			.jumbotron
				h1 ğ”¼ğ•Šğ•„ğ•šğ•Ÿ
				p(style='margin-top:-1em') ES6 with awesome hax.
		.container
			h1.text-center Show me some code.
			pre â’¶á¹¤Ä‡â‡€â§º_
			h1.text-center Whoa, how'd you do that???
			pre â’¶á¹¤Ä‡â‡€â§º_ // Implicit: á¹¤=100
				|â’¶á¹¤ // Create an empty-slotted array of length 100
				|Ä‡â‡€ // Set each element in that array to:
				|â§º_ // The index of the element + 1
				|// Implicit output
			h1.text-center Does it actually work?
			p.text-center: a.btn.btn-primary(href='http://molarmanful.github.io/ESMin/interpreter.html?eval=false&input=&code=%E2%92%B6%E1%B9%A4%C4%87%E2%87%80%E2%A7%BA_' target='_blank') Try it here (Firefox only).
			h1.text-center I must learn this.
			p.text-center: a.btn.btn-success(href='http://molarmanful.github.io/ESMin/docs/interpreter.html' target='_blank') See the annotated source.
			h1.text-center I love this so much!
			p.text-center: a.btn.btn-warning(href='https://github.com/molarmanful/ESMin' target='_blank') Star the Github repo.
			hr
			br
			br
			br
			br