doctype html
html
	head
		title ğ”¼ğ•Šğ•„ğ•šğ•Ÿ
		link(rel='stylesheet prefetch' href='https://molarmanful.github.io/TerseUI/bootstrap.min.css')
		style.
			.container {
				width:50%
			}
	body
		.container-fluid.text-center
			.jumbotron
				h1 ğ”¼ğ•Šğ•„ğ•šğ•Ÿ
				p ES6 with awesome hax.
		.container
			h1.text-center Show me some code.
			pre â†ºx=0;xâ§º<100;)áµ–x
			h1.text-center Whoa, how'd you do that???
			pre â†º //for loop
				|x=0; //set x to 0
				|xâ§º<100 //increment x and check if it is less than 100
				|;) //end for loop header
				|áµ–x //push x to the stack
				|//at the end of the program, output the stack
			h1.text-center Does it actually work?
			p.text-center: a.btn.btn-primary(href='interpreter.html?c=%E2%86%BAx%3D0%3Bx%E2%A7%BA%3C100%3B%29%E1%B5%96x' target='_blank') Try it here (Firefox only).
			h1.text-center I love this so much!
			p.text-center: a.btn.btn-warning(href='https://github.com/molarmanful/ESMin' target='_blank') Star the Github repo.
			hr
			br
			br
			br
			br