doctype html
html
	head
		title ğ”¼ğ•Šğ•„ğ•šğ•Ÿ
		link(rel='stylesheet prefetch' href='https://molarmanful.github.io/TerseUI/bootstrap.min.css')
		style.
			.container {
				width:50%
			}
	body
		.container-fluid.text-center
			.jumbotron
				h1 ğ”¼ğ•Šğ•„ğ•šğ•Ÿ
				p ES6 with awesome hax.
		.container
			h1.text-center Show me some code.
			pre â†º;á¸€â§º<á¹¤;áµ–á¸€)
			h1.text-center Whoa, how'd you do that???
			pre // Implicit: á¸€=0,á¹¤=100
				|â†º; // for loop
				|á¸€â§º<á¹¤ // increment á¸€ and check if it is less than 100
				|;áµ–á¸€) // push á¸€ to the stack
				|// at the end of the program, output the stack's contents
			h1.text-center Does it actually work?
			p.text-center: a.btn.btn-primary(href='interpreter.html?eval=false&input=&code=%E2%86%BA%3B%E1%B8%80%E2%A7%BA%3C%E1%B9%A4%3B%E1%B5%96%E1%B8%80%29' target='_blank') Try it here (Firefox only).
			h1.text-center I love this so much!
			p.text-center: a.btn.btn-warning(href='https://github.com/molarmanful/ESMin' target='_blank') Star the Github repo.
			hr
			br
			br
			br
			br